<form  #editform="ngForm"  >
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <h4 class="text-center text-success">{{msg}}</h4>
        <div class="form-group">
          <label for="moviename">Movie Name:</label>
        <input type="text" class="form-control" name="moviename" [(ngModel)]="selectedItem.movie_name" required/>
        </div>
        <div class="form-group">
          <label for="moviegenre">Movie Genre:</label>
          <input type="text" class="form-control" name="moviegenre"  [(ngModel)]="selectedItem.movie_genre"  required/>
        </div>
        <div class="form-group">
          <label for="moviedescription">Movie Description:</label>
          <textarea  class="form-control" name="moviedescription" [(ngModel)]="selectedItem.movie_description" required></textarea>
        </div>
        <div class="form-group">
          <label for="Movieurl">Movie ImageUrl:</label>
          <input type="text" class="form-control"  name="movieurl" [(ngModel)] ="selectedItem.movie_image"  required/>
        </div>
        <div class="form-group">
          <label for="movierelease">Movie Release:</label>
          <input type="checkbox" checked="" name="movierelease" [(ngModel)]="selectedItem.movie_release" required/>
        </div>
        <button type="submit" name="button" class="btn btn-success" (click)= "updateMoviedetails(editform)">Update Movie</button>
      </div>
    </div>
  </div>
</form>
