<!--<div class="container">
  <div class="jumbotron">{{title}}</div>
  <input type="text" class="form-control" [(ngModel)] ="text"/>
  <h4>{{text}}</h4>
</div>-->

<div class="container">
  <div class="row">
    <table class = "table table-hover">
      <caption>Movies List</caption>
      <thead>
        <tr>
          <th>Movie Name </th>
          <th>Movie Genre</th>
          <th>Movie Description</th>
          <th>Movie Image</th>
          <th>Movie Release</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of movieItems">
        <tr>
          <td>{{item.movie_name}}</td>
          <td>{{item.movie_genre}}</td>
          <td>{{item.movie_description}}</td>
          <td><img src="{{item.movie_image}}" class="img-thumbnail"></td>
          <td>{{item.movie_release}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
